<template>
    <div class="app">
        <AppHeader/>
        <div class="app-body">
            <Sidebar :navItems="getNav()"/>
            <main class="main">
                <breadcrumb :list="list"/>
                <div class="container-fluid">
                    <router-view :key="$route.fullPath"></router-view>
                </div>
            </main>
            <AppAside/>
        </div>
        <AppFooter/>
    </div>
</template>

<script>
  import nav from '../_nav'
  import ContractStorage from '../modules/Storage/ContractStorage'
  import { Header as AppHeader, Sidebar, Aside as AppAside, Footer as AppFooter, Breadcrumb } from '../components/'

  export default {
    name: 'full',
    components: {
      AppHeader,
      Sidebar,
      AppAside,
      AppFooter,
      Breadcrumb,
    },
    data: () => {
      return {
        navItems: [],
        refreshTimer: ''
      }
    },
    methods: {
      refreshNav() {
        let contracts = ContractStorage.getAllContracts()
        let navModified = JSON.parse(JSON.stringify(nav));

        for (let i = 0; i < contracts.length; i++) {
          navModified.items.push({
            name: contracts[i].name,
            url: '/contract/' + contracts[i].address,
          })
        }

        this.navItems = navModified.items;
        return navModified.items
      },
      getNav () {
        return this.navItems
      }
    },
    created () {
        this.refreshNav()
        setInterval(this.refreshNav, 300)
    },
    computed: {
      name () {
        return this.$route.name
      },
      list () {
        return this.$route.matched
      }
    },
  }
</script>
