<template>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 add-contract">
            <div class="card">
                <div class="card-header">
                    <strong>Add a Contract</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" v-model="contract.name" class="form-control" id="name"
                                       placeholder="Enter the name of the Contract">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="address">Contract Address</label>
                                <input type="text" v-model="contract.address" class="form-control" id="address"
                                       placeholder="Contract Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="decimals">Amount decimals</label>
                                <input type="number" v-model="contract.decimals" class="form-control" id="decimals"
                                       placeholder="Should be something between 0 and 18">
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" v-if="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div class="alert alert-success" role="success" v-if="success">
                        Added successfully
                    </div>
                    <div class="form-actions pull-right">
                        <button type="button" class="btn btn-primary" v-on:click="addContract" v-if="!loading">Add Contract</button>
                        <span v-on:click="addContract" v-if="loading">Adding...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6 tutorial">
            <div class="card">
                <div class="card-header">
                    <strong>Tutorial</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                You may use Etherscan to find some SmartContracts: <a href="https://etherscan.io/tokens"
                                                                                      target="_blank">Etherscan.io</a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div>You could also use some of our examples:</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div><strong>{{ templates.eos.name }}</strong></div>
                                <small>Infrastructure for Decentralized Applications</small>
                                <div><strong>Address: </strong>{{ templates.eos.address }}</div>
                                <div><strong>Decimals: </strong>{{ templates.eos.decimals }}</div>
                                <button class="btn btn-block btn-link" @click="useTemplate('eos')">
                                    <small>Use this template</small>
                                </button>
                                <hr>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div><strong>{{ templates.trx.name }} (best)</strong></div>
                                <small>TRON is a blockchain-based decentralized protocol that aims to construct a
                                    worldwide free content entertainment system with the blockchain and distributed
                                    storage technology.
                                </small>
                                <div><strong>Address: </strong>{{ templates.trx.address }}</div>
                                <div><strong>Decimals: </strong>{{ templates.trx.decimals }}</div>
                                <button class="btn btn-block btn-link" @click="useTemplate('trx')">
                                    <small>Use this template</small>
                                </button>
                                <hr>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div><strong>{{ templates.ven.name }}</strong></div>
                                <small>VeChain aims to connect blockchain technology to the real world by providing a
                                    comprehensive governance structure, a robust economic model as well as advanced IoT
                                    integration.
                                </small>
                                <div><strong>Address: </strong>{{ templates.ven.address }}</div>
                                <div><strong>Decimals: </strong>{{ templates.ven.decimals}}</div>
                                <button class="btn btn-block btn-link" @click="useTemplate('ven')">
                                    <small>Use this template</small>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import Erc20SmartContract from '../modules/Erc20'
  import ContractStorage from '../modules/Storage/ContractStorage'

  export default {
    name: 'add-contract',
    data: () => {
      return {
        contract: {
          name: '',
          address: '',
          decimals: '',
        },
        errorMessage: false,
        loading: false,
        success: false,
        templates: {
          eos: {
            name: 'EOS (EOS)',
            address: '0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0',
            decimals: '18',
          },
          trx: {
            name: 'Tronix (TRX)',
            address: '0xf230b790e05390fc8295f4d3f60332c93bed42e2',
            decimals: '6',
          },
          ven: {
            name: 'VeChain (VEN)',
            address: '0xd850942ef8811f2a866692a623011bde52a462c1',
            decimals: '18',
          },
        },
      }
    },
    methods: {
      addContract () {
        this.success = false;
        this.loading = true;
        this.errorMessage = false;
        let contract = new Erc20SmartContract(this.contract.address, this.contract.decimals)

        if(!Erc20SmartContract.isValidAddress(this.contract.address)) {
          this.errorMessage = 'Invalid Address';
          this.loading = false;
          return ;
        }

        contract.getBalanceOfAccount('0x34132572249ae96d121c3fa03892c94041436575').then(data => {
          this.loading = false;
          if(!ContractStorage.addressAlreadySaved(this.contract.address)) {
            ContractStorage.addContract(this.contract.name, this.contract.address, this.contract.decimals)
            this.contract.name = ''
            this.contract.address = ''
            this.contract.decimals = ''
            this.success = true;
          } else {
            this.errorMessage = 'That contract would be a duplicate';
            this.loading = false;
          }
        }, error => {
          this.errorMessage = error.message;
          this.loading = false;
        });
      },
      useTemplate (template) {
        this.errorMessage = false;
        this.contract.name = this.templates[template].name;
        this.contract.address = this.templates[template].address;
        this.contract.decimals = this.templates[template].decimals;
      }
    },
  }
</script>
