<template>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Latest transactions</strong>
                    <small>(10 latest transactions)</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" align="center" v-if="!transactions.length">
                                Please wait... <br>
                                No transactions happened since you opened this page
                            </div>
                            <div class="form-group" v-for="transaction in transactions" v-else>
                                <strong>From: </strong> {{transaction.from}} <br>
                                <strong>To: </strong> {{transaction.to}} <br>
                                <strong>Amount: </strong> {{transaction.amount}} <br>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Balance watcher</strong>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="newWalletAddress">Wallet Address</label>
                                <input type="text" v-model="newWalletAddress" class="form-control" id="newWalletAddress"
                                       placeholder="Should be something between 0 and 18">
                            </div>
                            <div class="alert alert-danger" role="alert" v-if="errorMessage">
                                {{errorMessage}}
                            </div>
                            <div class="alert alert-success" role="success" v-if="success">
                                Updated successfully
                            </div>
                            <div class="form-actions pull-right">
                                <button type="button" class="btn btn-primary" v-on:click="addWallet" v-if="!loading">Add
                                    Wallet
                                </button>
                                <span v-if="loading">Adding...</span>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" v-for="wallet in wallets">
                            <strong>Wallet:</strong> {{ wallet.wallet }} <br>
                            <strong>Balance:</strong> {{ wallet.balance }}
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import ContractStorage from '../modules/Storage/ContractStorage'
  import TransactionStorage from '../modules/Storage/TransactionStorage'
  import BalanceStorage from '../modules/Storage/BalanceStorage'
  import Erc20SmartContract from '../modules/Erc20'

  export default {
    name: 'contract',
    data: () => {
      return {
        address: '',
        wallets: [],
        contractInfo: null,
        transactions: [],
        contract: null,
        newWalletAddress: '',
        loading: false,
        errorMessage: false,
        success: false,
      }
    },
    created () {
      this.address = this.$route.params.address
      this.contractInfo = ContractStorage.getContractInfoByAddress(this.address)
      this.transactions = TransactionStorage.getAllTransactionsByAddress(this.address)

      this.contract = new Erc20SmartContract(this.address, this.contractInfo.decimals)
      this.contract.onTransfer((data) => {

        this.transactions.unshift(data)
        this.transactions = this.transactions.slice(0, 10)
        TransactionStorage.setTransactionsForAddress(this.address, this.transactions)
      }, () => {})

      this.refreshWallets()
      setInterval(this.refreshWallets, 1000)
    },
    methods: {
      refreshWallets () {
        console.log('refresh wallets')
        this.wallets = BalanceStorage.getAllWalletsByContract(this.address)

        for (let i = 0; i < this.wallets.length; i++) {
          this.contract.getBalanceOfAccount(this.wallets[i].wallet).then(data => {
            BalanceStorage.updateBalanceOfWallet(this.address, this.wallets[i].wallet, data)
          }, error => { })
        }
      },
      addWallet () {
        this.success = false
        this.loading = true
        this.errorMessage = false

        if (!Erc20SmartContract.isValidAddress(this.newWalletAddress)) {
          this.errorMessage = 'Invalid Address'
          this.loading = false
          return
        }

        this.contract.getBalanceOfAccount(this.newWalletAddress).then(data => {
          BalanceStorage.updateBalanceOfWallet(this.address, this.newWalletAddress, data)
          this.wallets = BalanceStorage.getAllWalletsByContract(this.address)

          this.success = true
          this.loading = false
        }, error => {
          this.errorMessage = error.message
          this.loading = false
        })
      },
    },
  }
</script>
