<template>
    <div class="animated fadeIn">
       <h3> Welcome to our cryptotracking concept app!</h3>
        <p> This app is a proof-of-concept for a app, tracking change of balances, transactions etc. from ERC20 Smart Contracts on the Ethereum Blockchain.</p>
        <p> You can track following smart contracts via templates at the moment:</p>
        <ul>
            <li>Ethereum - fetched via GraphQl</li>
            <li>EOS (EOS) - fetched via web3</li>
            <li>Tronix (TRX) - fetched via web3</li>
            <li>VeChain (VEN) - fetched via web3</li>
        </ul>

        <p>Alternatively it's also possible to use Etherscan to find some other SmartContract add add them.</p>
    </div>
</template>

<script>

  export default {
    name: 'dashboard',
  }
</script>
