<template>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Account Details</strong>
                    <small>From: {{startDate}}</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <strong>Address: </strong> {{address}} <br>
                                <strong>Start Balance: </strong> {{startBalance}} <br>
                                <strong>Start TransactionCount: </strong> {{startTransactionCount}} <br>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Last Update</strong>
                    <small>From: {{realTimeDate}}</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <strong>Address: </strong> {{address}} <br>
                                <strong>Updated Balance: </strong> {{ realTimeBalance }} <br>
                                <strong>Updated TransactionCount: </strong> {{realTimeTransactionCount}} <br>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-offset-3 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Balance Updates</strong>
                    <small>starting: {{historyDate}}</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12" v-for="entry in history">
                            <div class="form-group">
                                <strong>Update from: </strong> {{entry.date}} <br>
                                <strong>Balance: </strong> {{entry.balance}} <br>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import HistoryStorage from '../modules/Storage/HistoryStorage'
    import EthereumContract from '../modules/Ethereum'

    export default {
        name: 'ethereum',
        data: () => {
            return {
                account: null,
                address: '',
                startBalance: '',
                realTimeBalance: '',
                startTransactionCount: '',
                realTimeTransactionCount: '',
                contract: null,
                errorMessage: false,
                success: false,
                startDate: null,
                realTimeDate: null,
                accountHistory: null,
                transactionCountCache: 0,
                history: null,
                historyDate: null
            }
        },
        created() {
            this.contract = new EthereumContract();
            this.contract.getAccount().then(data => {
                this.account = data
                this.address = data.address
                this.history = HistoryStorage.getHistoryForEthAccount(this.address);

                if (this.history[0] !== undefined){
                    this.startBalance = this.history[0].balance;
                    this.startTransactionCount = this.history[0].transactionCount
                    this.startDate = this.history[0].date;
                } else {
                    this.startBalance = data.balance
                    this.startTransactionCount = data.transactionCount
                    this.startDate = new Date().toLocaleString();

                    HistoryStorage.addEntryToHistory(
                        this.address,
                        this.startBalance,
                        this.startTransactionCount,
                        this.startDate
                    );
                }

                this.realTimeTransactionCount = data.startTransactionCount
                this.realTimeBalance = data.startBalance
                this.realTimeDate = data.startDate
                this.transactionCountCache = 0;

            }, error => {
                this.errorMessage = error.message
            });

            setInterval(this.refreshHistory, 3000)
            setInterval(this.updateRealtimeData, 3500);
        },
        methods: {
            refreshHistory() {
                this.history = HistoryStorage.getHistoryForEthAccount(this.address);
                this.historyDate = this.history[0].date;

                this.contract.getAccount().then(data => {
                    HistoryStorage.updateHistoryOfAccount(
                        this.address,
                        data.balance,
                        data.transactionCount,
                        new Date().toLocaleString());


                }, error => {
                });
            },
            updateRealtimeData() {
                let recentUpdate = HistoryStorage.getRecentUpdateForEthAccount(this.address);
                this.realTimeBalance = recentUpdate.balance
                this.realTimeTransactionCount = recentUpdate.transactionCount
                this.realTimeDate = recentUpdate.date
            },
            transactionCountUpdated(entry) {
                if (entry.transactionCount > this.transactionCountCache) {
                    this.transactionCountCache = entry.transactionCount;
                    return true;
                } else {
                    return false;
                }
            },
        },
    }
</script>

